*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
  background: #395144;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-custom{
  background-color: #f0ebce;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h3{
  font-size: 1rem;
  color: #f7f5f2;
  line-height: 2.5rem;
  margin: 2rem 0rem;
}

a{
  color: rgb(56, 56, 56);
}