*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  min-height: 90vh;
  display: flex;
  flex-flow: column nowrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h3{
  line-height: 2.5rem;
  margin: 2.5rem 0rem 0rem;
}

a{
  color: rgb(56, 56, 56);
  text-decoration: none;
}